.pagination-container {
    display: flex;
    list-style-type: none;
    padding: 8px;
}

.pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(255, 255, 255, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 16px;
    line-height: 1.43;
    font-size: 16px;
    min-width: 32px;
}

.pagination-item.dots:hover {
    background-color: transparent;
    cursor: default;
}

.pagination-item:hover {
    background-color: rgb(252, 251, 251);
    cursor: pointer;
    color: black;
    /* Change text color on hover */
}

.pagination-item.selected {
    background-color: rgb(245, 238, 238);
    color: grey;
    /* Change text color for the selected item */
}

.pagination-item:hover .arrow::before {
    border-right: 0.12em solid black;
    /* Change arrow color on hover */
    border-top: 0.12em solid black;
}

.pagination-item.selected .arrow::before {
    border-right: 0.12em solid rgb(0, 0, 0);
    border-top: 0.12em solid rgb(0, 0, 0);
}

.pagination-item .arrow::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgb(255, 255, 255);
    border-top: 0.12em solid rgba(255, 255, 255, 0.87);
}

.pagination-item .arrow.left {
    transform: rotate(-135deg) translate(-50%);
}

.pagination-item .arrow.right {
    transform: rotate(45deg);
}

.pagination-item.disabled {
    pointer-events: none;
}

.pagination-item.disabled .arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-item.disabled:hover {
    background-color: transparent;
    cursor: default;
}
.pagination-item.selected {
    background-color: grey;
    color: white; 
  }