.search-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1311108c;
    padding: 10px;
    border-radius: 12px;
}
.page-heading{
    font-size: 44px;
    font-weight: 700;
    color: yellow;
    margin-bottom: 20px;
    margin-top: 13px;
}
.search-input-container{
    width: 30%;
    border: 1px solid #424141;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.search-input{
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    padding: 8px 30px;
    color: white;
}

.search-icon{
    width: 20px;
    height: 20px;
}